{% extends "base.html" %}

{% block content %}
<div class="container">
<h1 class="title">
    Face Recognition Attendence System.
</h1>
<h2 class="subtitle">
  Easy and Effective Attendence Registering System.
</h2>
<p> This a prototype landing page for the Face Recognition Attendence System.</p>
<h5 class="title"> Usage </h5>

<p> The system differentiates users based on their roles. There are 3 primary roles Admin, Authenticated User and Normal User. Admin previlages are given to the user that signsup first during the first setup of the system. Then the admin can provide admin privilages to other users like the faculties. Every other user do not posses admin privilages but they can view their own profile.
</p>
</div>
{% endblock %}
