{% extends "base.html" %} {% block content %}
<h1 class="title">Welcome, {{ name }}!!!</h1>
<div class="columns">
  <div class="column is-half">
    <div class="box">
      <form action="/data_capture" method="post" target="_newtab">
        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input class="input" type="text" name="student_name" placeholder="Student Name" />
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input class="input" type="text" name="reg_id" placeholder="Reg Id" />
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <button class="button is-success" type="submit">Add student</button>
          </p>
        </div>
      </form>
    </div>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Nunc consequat
      interdum varius sit. Congue nisi vitae suscipit tellus mauris a diam
      maecenas. Tellus in hac habitasse platea dictumst vestibulum rhoncus est.
      Augue interdum velit euismod in pellentesque massa placerat.
    </p>
  </div>
<div class="column is-half">
  <div class="box">
      <a href="/train_face_model" class="button">Train</img>
  </div>
</div>
</div>
{% endblock %}
